:root {
  font-family: "Alice", serif;
  line-height: 150%;
}

body {
  background-color: #2c4e28;
}

#page {
  background-color: #fcf6bd;
  padding: 24px;
  width: 800px;
  border-radius: 24px;
  margin: 48px auto;
  box-sizing: border-box;
}

img {
  border-radius: 16px;
}

h1 {
  font-size: 48px;
  color: #522a27;
}

h2 {
  font-size: 24px;
  color: #522a27;
}

h3 {
  font-size: 24px;
  color: #522a27;
}

p {
  font-size: 16px;
  color: #522a27;
}

li {
  font-size: 16px;
  color: #522a27;
}
